<div class="row">
  <div class="col">
    <nav class="navbar navbar-expand-sm navbar-light bg-light">
      <a class="navbar-brand" routerLink="/">DCS Food Order</a>

      <div class="navbar" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" routerLink="/home" routerLinkActive="active">{{ 'NAV_HOME' | translate }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/users" routerLinkActive="active">{{ 'NAV_USERS' | translate }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/products" routerLinkActive="active">{{ 'NAV_PRODUCTS' | translate }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/order" routerLinkActive="active">{{ 'NAV_ORDER' | translate }}</a>
          </li>
        </ul>

        <ul class="navbar-nav justify-content-end">
          <li class="nav-item">
            <button type="button" class="btn btn-link nav-link" (click)="setLocale('de')">de</button>
          </li>
          <li class="nav-item">
            <button type="button" class="btn btn-link nav-link" (click)="setLocale('en')">en</button>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>
