<div class="row">
  <div class="col">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" routerLink="/">DCS Food Order</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="/home" routerLinkActive="active">{{ 'NAV_HOME' | translate }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/users" routerLinkActive="active">{{ 'NAV_USERS' | translate }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/products" routerLinkActive="active">{{ 'NAV_PRODUCTS' | translate }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/order" routerLinkActive="active">{{ 'NAV_ORDER' | translate }}</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
          </li> -->

        </ul>

        <ul class="navbar-nav my-2 my-lg-0">
          <li class="nav-item">
            <button type="button" class="btn btn-link nav-link" (click)="setLocale('de')">de</button>
          </li>
          <li class="nav-item">
            <button type="button" class="btn btn-link nav-link" (click)="setLocale('en')">en</button>
          </li>
        </ul>
        <!-- <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form> -->


      </div>
    </nav>
  </div>
</div>
