<h1>Order summary</h1>

<table class="table table-bordered table-striped table-hover">
  <thead>
    <tr>
      <th>Product</th>
      <th>User</th>
      <th>Items</th>
      <th>Price item</th>
      <th>Price sum</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of orderItems">
      <td>{{ item.product.label }}</td>
      <td>{{ item.user.name }}</td>
      <td class="text-right">{{ item.numberOfProducts }}</td>
      <td class="text-right">{{ item.product.price | currency:'EUR':true }}</td>
      <td class="text-right">{{ item.priceSum | currency:'EUR':true }}</td>
    </tr>

    <tr>
      <th colspan="5">Sum</th>
    </tr>
    <tr *ngFor="let userSum of totalPriceByUser">
      <td colspan="4">{{ userSum[0].name }}</td>
      <td class="text-right">{{ userSum[1] | currency:'EUR':true }}</td>
    </tr>

    <tr>
      <th colspan="4">Sum total</th>
      <td class="text-right">{{ totalPrice | currency:'EUR':true }}</td>
    </tr>
  </tbody>
</table>
