<h1>{{ 'ORDER_SUMMARY_TITLE' | translate }}</h1>

<table class="table table-bordered table-striped table-hover">
  <thead>
    <tr>
      <th>{{ 'ORDER_PRODUCT' | translate }}</th>
      <th>{{ 'ORDER_USER' | translate }}</th>
      <th>{{ 'ORDER_ITEMS' | translate }}</th>
      <th>{{ 'ORDER_PRICE_ITEM_SINGLE' | translate }}</th>
      <th>{{ 'ORDER_PRICE_ITEM_SUM' | translate }}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of orderItems">
      <td>{{ item.product.label }}</td>
      <td>{{ item.user.name }}</td>
      <td class="text-right">{{ item.numberOfProducts }}</td>
      <td class="text-right">{{ item.product.price | currency:'EUR':true }}</td>
      <td class="text-right">{{ item.priceSum | currency:'EUR':true }}</td>
    </tr>

    <tr>
      <th colspan="5">{{ 'ORDER_SUM' | translate }}</th>
    </tr>
    <tr *ngFor="let userSum of totalPriceByUser">
      <td colspan="4">{{ userSum[0].name }}</td>
      <td class="text-right">{{ userSum[1] | currency:'EUR':true }}</td>
    </tr>

    <tr>
      <th colspan="4">{{ 'ORDER_SUM_TOTAL' | translate }}</th>
      <td class="text-right">{{ totalPrice | currency:'EUR':true }}</td>
    </tr>
  </tbody>
</table>
