<div class="container">
  <form [formGroup]="form" (submit)="submitForm()">

    <div class="form-group row">
      <label for="inputFirstname" class="col-sm-2 col-form-label">{{ 'USERS_FIRSTNAME' | translate }}</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="inputFirstname" placeholder="{{ 'USERS_FIRSTNAME' | translate }}" formControlName="firstname"
          [ngClass]="{ 'is-valid': firstnameControl.valid, 'is-invalid': firstnameControl.invalid }">
        <div class="invalid-feedback" *ngIf="firstnameControl.errors?.required && firstnameControl.touched">{{ 'USERS_ERRORS_REQUIRED' | translate }}</div>
      </div>
    </div>

    <div class="form-group row">
      <label for="inputLastname" class="col-sm-2 col-form-label">{{ 'USERS_LASTNAME' | translate }}</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="inputLastname" placeholder="{{ 'USERS_LASTNAME' | translate }}" formControlName="lastname"
          [ngClass]="{ 'is-valid': lastnameControl.valid, 'is-invalid': lastnameControl.invalid }">
        <div class="invalid-feedback" *ngIf="lastnameControl.invalid && lastnameControl.touched">{{ 'USERS_ERRORS_REQUIRED' | translate }}</div>
      </div>
    </div>

    <div class="form-group row">
      <label for="inputEmail" class="col-sm-2 col-form-label">{{ 'USERS_EMAIL' | translate }}</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="inputEmail" placeholder="{{ 'USERS_EMAIL' | translate }}" formControlName="email"
          [ngClass]="{ 'is-valid': emailControl.valid, 'is-invalid': emailControl.invalid }">
        <div class="invalid-feedback" *ngIf="emailControl.errors?.required && emailControl.touched">{{ 'USERS_ERRORS_REQUIRED' | translate }}</div>
        <div class="invalid-feedback" *ngIf="emailControl.errors?.email && emailControl.touched">{{ 'USERS_ERRORS_EMAIL' | translate }}</div>
      </div>
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="form.invalid || updating">{{ 'USERS_SAVE' | translate }}</button>
  </form>
</div>
